/**
 * @file Defines styles specific to posts
 * Custom properties are set in `_includes/shortcodes/css-root.js`
 * @author Prateek Surana
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/--*CSS Custom Properties on MDN}
 */
.article-header h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

article {
  width: 800px;
  max-width: calc(100vw - var(--base-unit) * 3);
}

h2 {
  margin-top: 1.8em;
}

.article-img {
  max-width: 100%;
}

blockquote {
	background-color: var(--grayscale-100);
	/* border: var(--border); */
  color: var(--black);
	margin: 1.7em 0em 0em 0em;
  padding: 0.5em 2.0em;
  position: relative;
}

blockquote::before {
  content: '💡';
  position: absolute;
  top: -25px;
  left: -22px;
  font-size: 50px;
}

 pre {
  /* background-color: var(--grayscale-100); */
  /* border-radius: 3px; */
  /* border: var(--border); */
  /* display: block; */
  padding: 1em;
  overflow-x: auto;
}


pre code {
  background-color: transparent;
}

.blog-sticky-title {
  display: none;
  position: fixed;
  margin: 0;
  top: 30px;
  left: 30px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

.blog-sticky-title > div {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.blog-sticky-title:hover {
  text-shadow: 1px 1px 1px var(--accent)
}

.top-indicator-container {
  bottom: 50px;
  visibility: hidden;
  right: calc(50vw - 520px);
  opacity: 1!important;
  position: fixed;
  margin: 0;
  background-color: white;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.top-indicator {
  transition: transform .3s ease-in;
  height: 2.5rem;
  width: 2.5rem;
}

.top-indicator:hover {
  transform: scale(1.3);
} 

@media (min-width:1281px) {
  .blog-sticky-title {
    display: block;
  }

  .top-indicator-container {
    visibility: visible;
  }
}

.date-time {
  display: flex;
  margin-top: 0.5rem;
}

.read-time {
  color: var(--gray);
  font-size: small;
  font-weight: 700;
}

.read-time::before {
  content: "•";
  padding: 0.5rem
}


