/**
 * @file Defines styles specific to posts
 * Custom properties are set in `_includes/shortcodes/css-root.js`
 * @author Prateek Surana
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/--*CSS Custom Properties on MDN}
 */
.article-header h2 {
  font-size: 2.5em;
  margin-top: 1em;
}

article {
  max-width: calc(100vw - var(--base-unit) * 3);
}

h2 {
  margin-top: 1.8em;
}

blockquote {
	background-color: var(--grayscale-100);
	/* border: var(--border); */
  color: var(--black);
	margin: 1.7em 0em 0em 0em;
  padding: 0.5em 2.0em;
  position: relative;
}

blockquote::before {
  content: '💡';
  position: absolute;
  top: -25px;
  left: -22px;
  font-size: 50px;
}

 pre {
  /* background-color: var(--grayscale-100); */
  /* border-radius: 3px; */
  /* border: var(--border); */
  /* display: block; */
  padding: 1em;
  overflow-x: auto;
}


pre code {
  background-color: transparent;
}
