<!DOCTYPE html>
<html lang="en">
  <head>
    {# If the page is a tags page set the URL to blogs tagged {tagName} we need to slice here to ge the tag
    bevuase the URL will be like /tags/typescript/. If its not the tags page then use the title property  #}
    {% set currentTitle = "Blogs tagged " + tagsCase[page.url.slice(11, -1)] if page.url.includes('/tags/') else title %}
    <!-- Essentials -->
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{currentTitle}}</title>
    <meta name="description" content="{{description}}" />

    {% if canonical %}
      <link rel="canonical" href="{{canonical}}" />
    {% else %}
      <link rel="canonical" href="{{environment.baseURL}}{{page.url.slice(1)}}" />
    {% endif %}

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{environment.baseURL}}favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{environment.baseURL}}favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{environment.baseURL}}favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="{{environment.baseURL}}favicons/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="{{environment.baseURL}}favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />


    <!-- Twitter -->
    <meta name="twitter:title" content="{{currentTitle}}" />
    <meta property="twitter:description" content="{{description}}" />
    <meta
    name="twitter:image"
    content="{{environment.baseURL}}img/{{thumbnail}}"
    />
    <meta name="twitter:card" content="summary_large_image" />
    
    <!-- Open graph -->
    <meta property="og:title" content="{{currentTitle}}" />
    <meta property="og:description" content="{{description}}" />
    <meta
      property="og:image"
      content="{{environment.baseURL}}img/{{thumbnail}}"
    />
    <meta property="og:url" content="{{environment.baseURL}}{{page.url.slice(1)}}" />
    <meta property="og:type" content="article" />

    {% block head %}{% endblock %}

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{environment.baseURL}}css/style.css"
    />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{environment.baseURL}}css/prism-tomorrow.css"
    />
    {% endif %}

    {% if home == true %}
    <script src="https://unpkg.com/rough-notation/lib/rough-notation.iife.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap" rel="stylesheet">
    {% endif %}

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/brands.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/solid.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/fontawesome.min.js"></script>

    {% if environment.nodeEnv == "production" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KHRSMP3QE5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KHRSMP3QE5');
    </script>
    {% endif %}
    <script>
      function trackTagClick(tag) {
        trackEvent('tag_clicked', 'tags', tag)
      }

      function trackEvent(name, category, label) {
        if("{{environment.nodeEnv}}" === "production") {
          gtag('event', name, {
            'event_category' : category,
            'event_label' : label
          });
        } else {
          console.log('Event', { name, category, label })
        }
      }
    </script>
    <script async src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script async src="https://unpkg.com/smoothscroll-anchor-polyfill@1.3.2/dist/index.min.js"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}
    <script>
      var article = document.getElementsByTagName('article')[0];
      var readTime = document.getElementsByClassName('read-time')[0];
      if(article && readTime) {
        var textContent = article.textContent;
        var str = textContent.replace(/(^\s*)|(\s*$)/gi,"");
        str = str.replace(/[ ]{2,}/gi," ");
        str = str.replace(/\\n /,"\\n");
        var wordCount = str.split(' ').filter(s=>s!=='\\n').length;
        var readingTimeInMinutes = Math.floor(wordCount / 228) + 1;
        var readingTimeAsString = readingTimeInMinutes + " min read";
        readTime.innerText = readingTimeAsString;
      }
    </script>
  </body>
</html>
