<!DOCTYPE html>
<html lang="en">
  <head>
    {# If the page is a tags page set the URL to blogs tagged {tagName} we need to slice here to ge the tag
    bevuase the URL will be like /tags/typescript/. If its not the tags page then use the title property  #}
    {% set currentTitle = "Blogs tagged " + tagsCase[page.url.slice(6, -1)] if page.url.includes('/tags/') else title %}
    <!-- Essentials -->
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{currentTitle}}</title>
    <meta name="description" content="{{description}}" />
    <link rel="canonical" href="{{environment.baseURL}}{{page.url.slice(1)}}" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{environment.baseURL}}favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{environment.baseURL}}favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{environment.baseURL}}favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="{{environment.baseURL}}favicons/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="{{environment.baseURL}}favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />


    <!-- Twitter -->
    <meta name="twitter:title" content="{{currentTitle}}" />
    <meta property="twitter:description" content="{{description}}" />
    <meta
    name="twitter:image"
    content="{{environment.baseURL}}img/{{thumbnail}}"
    />
    <meta name="twitter:card" content="summary_large_image" />
    
    <!-- Open graph -->
    <meta property="og:title" content="{{currentTitle}}" />
    <meta property="og:description" content="{{description}}" />
    <meta
      property="og:image"
      content="{{environment.baseURL}}img/{{thumbnail}}"
    />
    <meta property="og:url" content="{{environment.baseURL}}{{page.url.slice(1)}}" />
    <meta property="og:type" content="article" />

    {% block head %}{% endblock %}

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{environment.baseURL}}css/style.css"
    />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{environment.baseURL}}css/prism-tomorrow.css"
    />
    {% endif %}
    {% if environment.nodeEnv == "production" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KHRSMP3QE5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KHRSMP3QE5');
    </script>
    {% endif %}
    <script>
      function trackTagClick(tag) {
        if("{{environment.nodeEnv}}" === "production") {
          gtag('event', 'tag_clicked', {
            'event_category' : 'Tags',
            'event_label' : tag
          });
        }
      }
    </script>
    <script async src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
    <script async src="https://unpkg.com/smoothscroll-anchor-polyfill"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}
    <script>
      var article = document.getElementsByTagName('article')[0];
      var readTime = document.getElementsByClassName('read-time')[0];
      if(article && readTime) {
        var textContent = article.textContent;
        var str = textContent.replace(/(^\s*)|(\s*$)/gi,"");
        str = str.replace(/[ ]{2,}/gi," ");
        str = str.replace(/\\n /,"\\n");
        var wordCount = str.split(' ').filter(s=>s!=='\\n').length;
        var readingTimeInMinutes = Math.floor(wordCount / 228) + 1;
        var readingTimeAsString = readingTimeInMinutes + " min read";
        readTime.innerText = readingTimeAsString;
      }
    </script>
  </body>
</html>
