---
layout: default
prism: true
---
<div x-data="newsletter()">
  <div class="container max-w-3xl mt-6 px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
      <h1 class="font-bold text-4xl sm:text-5xl">{{title}}</h1>
      <p class="text-center text-sm sm:text-base leading-6 font-medium text-gray-500">
        Last updated on <time> {{ updatedAt | readableDate }}</time> by {{settings.author}} &nbsp; •
        &nbsp;<span class="read-time"> - min read </span>
      </p>
    </div>
    <article class="prose lg:prose-xl my-4 relative">
      <div id="carbon">
      </div>
      {{ content | safe }}
      <a class="fixed bottom-12 bg-transparent text-accent-blue flex items-center justify-center rounded cursor-pointer z-10 invisible lg:visible top-indicator-container" aria-label="Scroll to top" href="#">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="top-indicator" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path d="M256 217.9L383 345c9.4 9.4 24.6 9.4 33.9 0 9.4-9.4 9.3-24.6 0-34L273 167c-9.1-9.1-23.7-9.3-33.1-.7L95 310.9c-4.7 4.7-7 10.9-7 17s2.3 12.3 7 17c9.4 9.4 24.6 9.4 33.9 0l127.1-127z"></path>
        </svg>
      </a>
    </article>
    <hr class=" my-4"/>
    <div class="text-md mb-3 flex justify-between flex-col md:flex-row">
      <div>
          {% for tag in tags %}
              {% if tag != 'post' %}
              <a href="/blog/tags/{{tag}}" onClick="trackTagClick('{{tag}}')" class="text-indigo-700 mr-1">
                  #{{tagsCase[tag]}}
              </a>
              {% endif %}
          {% endfor %}
        </div>
        <div class="mt-2 md:mt-0">
          <span class="font-bold mr-2">
            Enjoyed this blog, share it on:
          </span>
          <a href="https://twitter.com/intent/tweet?url={{environment.baseURL}}{{permalink.slice(1)}}&via=psuranas&text={{title}}" target="_blank" rel="noreferrer noopener" class="text-indigo-700 mr-1">
              Twitter
          </a>

          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{environment.baseURL}}{{permalink.slice(1)}}" target="_blank" rel="noreferrer noopener" class="text-indigo-700">
              LinkedIn
          </a>
        </div>
    </div>
  </div>

  <div class="container max-w-3xl mt-8 px-6 md:px-0">
    <h2 class="text-xl font-bold mb-4">You might also like:</h2>
    <div
      class="
        text-left
        mx-auto
        mb-6
        grid grid-cols-1
        lg:grid-cols-2
        gap-6
      "
    >
      {# Get a random post with the first tag where title is not equal to the current post title #}
      {% set post1 = collections[ tags[1] ] | filterPostsWithTitle([title]) | random %}
      {# Get two more random posts with different titles #}
      {% set post2 = collections.post | filterPostsWithTitle([title, post1.data.title]) | random %}
      {% set post3 = collections.post | filterPostsWithTitle([title, post1.data.title, post2.data.title]) | random %}

      {# If there is a post with the given tag then use that post else use the other two random posts #}
      {% set postslist = [ post1, post2 ] if post1 else [ post2, post3 ] %}
      {% set showPostslistInCard = true %}
      {% include "partials/postslist.html" %}
    </div>
  </div>

  <div class="container max-w-3xl border-gray-100 border-2 p-8 shadow rounded flex flex-col items-center md:flex-row mb-6 mt-8 bg-blue-100">
    <div class="text-center">
      <h2 class="text-lg font-bold mb-2">Want to get better at React, JavaScript, and TypeScript?</h2>
      <p class="text-base">
        I regularly publish posts like this one, containing best practices, tips, and tutorials on React, JavaScript, and TypeScript. Subscribe to my newsletter to get them straight to your inbox. No spam ever. Unsubscribe at any time. You can also <a target="_blank" rel="noreferrer noopener" class=" underline" href="/blog/feed.xml">subscribe via RSS</a>.
      </p>
      <form x-on:submit="handleSubscribe" name="subscribe_card">
        <input name="email" x-model="emailField" required type="email" placeholder="john@doe.com" class="input-primary mt-6"/>
        <button x-bind:disabled="isSubscribeLoading" class="btn-primary" type="submit">
          Count me in
        </button>
      </form>
    </div>
  </div>

  <div class="container max-w-3xl border-gray-100 border-2 p-8 shadow rounded flex flex-col items-center md:flex-row mb-6 mt-8">
    <div class=" mb-4 md:mb-0 md:mr-8 md:flex-shrink-0">
      <img alt="Prateek Surana" height="20" width="20" class="h-20 w-20 rounded-full border-indigo-500 border-2" src="/img/prateek-author.jpg" />
    </div>
    <div class="md:text-left text-center">
      <h2 class="text-lg font-bold mb-2 md:mb-0">About Prateek Surana</h2>
      <p class="text-base">
      Prateek is a Frontend Engineer currently building <a href="https://devfolio.co" class="text-indigo-700" target="_blank" rel="noreferrer noopener">Devfolio</a>. 
      He loves writing stuff about JavaScript, React, TypeScript, and whatever he learns along his developer journey. Apart from his unconditional love for technology, he enjoys watching Marvel movies and playing quirky games on his phone.
      </p>
    </div>
  </div>

  <div x-cloak x-show="showSubscribePopup" x-transition.duration.300ms class="fixed border-gray-100 border-2 p-6 shadow rounded bottom-7 right-7 w-72 ml-auto xl:block hidden bg-blue-100 z-20">
    <img src="/img/subscribe-banner-image.png" alt="Subscribe to newsletter" style="top:-130px; right:79px;" class="absolute h-32"/>
    <div class="flex w-full justify-between mb-2">
      <h2 class="text-lg font-bold mb-2">Want to get better at React, JavaScript, and TypeScript?</h2>
      <img src="/img/cross-black.svg" x-on:click="hideSubscribePopup" alt="Close the banner" class="h-5 mt-1 cursor-pointer" />
    </div>
    <p class="text-base">I regularly publish posts like this one, containing best practices, tips, and tutorials on React, JavaScript, and TypeScript.</p>
    <br/>
    <p class="text-base">Subscribe to my newsletter to get them straight to your inbox. No spam ever. Unsubscribe at any time.</p>
    <form x-on:submit="handleSubscribe" name="subscribe_popup">
      <input name="email" x-model="emailField" required type="email" placeholder="john@doe.com" class="input-primary mt-6"/>
      <button x-bind:disabled="isSubscribeLoading" class="btn-primary" type="submit">
        Count me in
      </button>
    </form>
  </div>
</div> 

<style>
/* Carbon ads styles */

#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

#carbonads {
  display: flex;
  max-width: 130px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
  flex-direction: column;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 1000px) {
  #carbonads {
      float: none;
      position: static;
      margin: 20px auto;
      max-width: 330px;
  }

  #carbonads .carbon-wrap {
    display: flex;
    flex-direction: row;
  }
}
</style>

{% if environment.nodeEnv == "production" %}
<div class="container">
  <script src="https://utteranc.es/client.js"
        repo="prateek3255/blog"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>
{% endif %}

{% include "partials/newsletterScript.html" %}

<script>
  setTimeout( () => {
      script=document.createElement('script');
      script.type='text/javascript';
      script.async = true;
      script.src='//cdn.carbonads.com/carbon.js?serve=CESI427E&placement=prateeksuraname';
      script.id="_carbonads_js"
      document.querySelector('#carbon').appendChild(script);
  }, 200);
</script>
