---json
{
  "permalink": "/blog/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Prateek's Blog",
    "subtitle": "Prateek is a Frontend Engineer currently building Devfolio. Check out the stuff he's been writing lately",
    "url": "https://prateeksurana.me/blog/",
    "feedUrl": "https://prateeksurana.me/blog/feed.xml",
    "author": {
      "name": "Prateek Surana",
      "email": "hello@prateeksurana.me"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.post %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <summary>{{ post.data.description }}</summary>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.data.updatedAt | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>