<script>
  function newsletter() {
    return {
      showSubscribePopup: false,
      isSubscribeLoading: false,
      emailField: "",

      hideSubscribePopup() {
        trackEvent('closed_subscribe_popup', 'subscribe');
        this.showSubscribePopup = false;
        localStorage.setItem('has-hidden-subscription-popup', true);
      },

      handleSubscribe(event) {
        event.preventDefault();
        trackEvent(`clicked_on_subscribe_from_${event.target.name}`, 'subscribe', event.target.name);
        this.isSubscribeLoading = true;

        var registerEndpoint = "{{environment.nodeEnv}}" === "production" ? 'https://api.prateeksurana.me/' : 'http://localhost:3000/';
 
        fetch(`${registerEndpoint}api/register`, {
          method: 'POST',
          body: JSON.stringify({ email: this.emailField }),
        }).then(response => response.json())
        .then(response => {
          this.isSubscribeLoading = false;
          this.emailField = "";

          if (response.success) {
            window.location.href = "{{environment.baseURL}}confirm";
            this.showSubscribePopup = false;
            localStorage.setItem('has-hidden-subscription-popup', true);
          } else {
            alert(response.message);
          }

        }).catch(error => {
          this.isSubscribeLoading = false;
          alert("Something went wrong, please refresh the page and try again!");
        })
      },

      startTimer() {
        clearTimeout(window.currentTimer);
        var hasHiddenPopup = localStorage.getItem('has-hidden-subscription-popup');

        if (!hasHiddenPopup) {
          window.currentTimer = setTimeout( () => {
            this.showSubscribePopup = true;
          }, 15000);

          window.onscroll = () => {

            if ( (document.body.offsetHeight - (window.innerHeight + window.scrollY)) <= 550 ) {
              this.showSubscribePopup = false;
            }
          }
        }
      }
    }
  }
</script>
